<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khairul.bisindosignlanguangerecognition">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logofix"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logofix"
        android:supportsRtl="true"
        android:theme="@style/Theme.BisindoSignLanguangeRecognition">
        <activity android:name=".ui.ucapan.UcapanActivity" />
        <activity android:name=".ui.detail.DetailSifatActivity" />
        <activity android:name=".ui.katasifat.SifatActivity" />
        <activity android:name=".ComingSoonActivity" />
        <activity android:name=".ui.camera.CameraActivity" />
        <activity android:name=".ui.dictionary.DictionaryActivity" />
        <activity android:name=".ui.number.NumberActivity" />
        <activity android:name=".ui.detail.DetailNumberActivity" />
        <activity android:name=".ui.detail.DetailDictionaryActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>